.btnContainer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    gap: 15px;
}

.btnItem:hover, .btnItem:focus{
    background-color: lightslategrey;
    border-color: black;
}